.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 17rem;
  cursor: pointer;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  }
.card-title{
  font-weight: bold;
}
.home-page .card-price-original {
  font-weight: 400;
  text-decoration: line-through;
}
.home-page .card-price-discount {
  font-size: 1.45rem;
  font-weight: 500;
  
 
}
.add-to-cart {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff715b;
  border: 0px;
  color: #fff;
}
.add-to-cart:hover {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  border: 0px;
  color: #ff715b;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  /* transform: scale(0.9); */
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  /* background-color: black; */
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: black;
  font-weight: bold;
  font-size: 20px !important;
  background-color: #fff;
}
